---
import Layout from "@/layouts/main.astro";
import { education, experience, projects, toolsAndSkills } from "@/data/cvData";
---

<Layout>
    <div>
        Work in progress. Please check back later... Thanks for visiting tho ;)
    </div>
</Layout>
